@import url(https://db.onlinewebfonts.com/c/fd6fa80f1e3345834599de891cca3f4c?family=OCR+A+Extended);

*
{
	padding: 0;
	margin: 0;
	font-family: OCR A Extended;
	letter-spacing: 1px;
}

body
{
	background-color: #EE6F00;
}

.header-flex-container
{
	display: flex;
	border: 2px solid yellow;
	height: 100px;
	z-index: 50;
}

.gamePortal
{
	top: 0;
	left: 0;
	flex: 1;
	padding: 15px 20px;
	flex-basis: 800px;
	color: yellow;
	font-size: 60px;
}

.social-media-flex-container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 20px;
}

.facebook, .x-twitter, .instagram
{
	flex: 1;
}

.facebook-logo, .twitter-logo, .instagram-logo
{
	cursor: pointer;
}

.facebook-logo
{
	width: 36px;
	height: 50px;
}

.twitter-logo
{
	width: 76px;
	height: 50px;
}

.instagram-logo
{
	width: 84px;
	height: 50px;
	margin-right: 50px;
}

.side-bar
{
	background-color: yellow;
	position: absolute;
	top: 102px;
	bottom: 0;
	border: 2px solid yellow;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


.side-bar div
{
	cursor: pointer;
	margin-top: 22px;
	flex: 1;
	font-size: 56px;
	transition: color 0.15s;
}

.side-bar div:hover
{
	color: blue;
}

.grid-container
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 30px 0 0 470px;
	vertical-align: top;
}

.game
{
	width: 250px;
	margin-bottom: 22px;
}

.game-image
{
	width: 250px;
	height: 280px;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.game-image:hover
{
	transform: scale(1.05); /* Increase the size on hover */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.game-title
{
	color: yellow;
	text-align: center;
	padding: 8px 0 10px 0;
	font-size: 24px;
}

.game-website
{
	font-size: 16px;
	color: yellow;
}




